{% load i18n static pages wagtailcore_tags %}
{% wagtail_site as current_site %}
<style>
    .button:hover{
        background-image: linear-gradient(90deg, #FA972A, #1939F8, #21FEC7);
    }
</style>
<table style="margin: 0 auto; color: #030339; max-width: 90%; padding: 10px; border-radius: 20px; background-color: #C6C6D1;">
    <tr>
        <td>
            <table style="margin-left: auto; color: #030339; font-size: 30px; font-weight: 900;">
                <tr>
                    <td>{{current_site.site_name}}</td>
                    <td>
                        <img style="height: 60px;" src="{{current_site.root_url}}/static/static/media/logo.png" alt="{{ current_site.site_name }}" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align: center; font-size: 36px; font-weight: 900;">
            {% translate 'We have new images' %}
        </td>
    </tr>
    <tr>
        <td style="padding-top: 20px; text-align: end; font-size: 20px;">
            {% blocktranslate with user=user %}
                Dear {{user}},<br>
                We are pleased to inform you that we have new images.
            {% endblocktranslate %}
        </td>
    </tr>
    <tr>
        <td style="padding-top: 20px;">
            <table style="padding: 10px 0; border-top: 2px solid #030339; border-bottom: 2px solid #030339; width: 100%; color: #030339; font-size: 24px; font-weight: 900;">
                {% for row in new_images %}
                    <tr>
                        {% for product in row %}
                            <td align="center">
                                <img style="border-radius: 20px; height: 240px; width: auto;" src="{{current_site.root_url}}{{product.preview_image_url}}" alt="{{product.code}}">
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding-top: 20px;" align="center">
            <div style="display: inline-block;">
                <a style="text-decoration: none;" href="{% get_url_by_page_name 'images'%}">
                    <table class="button" style="color: #030339; padding: 5px; border-radius: 20px; border: 2px solid #030339;">
                        <tr>
                            <td>
                                <div style="background-color: #030339; padding: 2px 4px; border-radius: 10px;">
                                    <img style="width: 16px;" src="{{current_site.root_url}}/static/static/media/heroicons_chevron-left.png" alt="Button icon" />
                                </div>
                            </td>
                            <td>{% translate 'Continue on our website' %}</td>
                        </tr>
                    </table>
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding-top: 20px; text-align: right; font-size: 20px;">
            {% blocktranslate with site_name=current_site.site_name %}
                Thank you for choosing our service.<br><br>
                Sincerely, {{site_name}}.
            {% endblocktranslate %}
        </td>
    </tr>
</table>
<table style="margin: 0 auto; color: #646484; width: 85%;">
    <tr>
        <td style="padding-top: 10px; text-align: right; font-size: 16px;">
            {% get_url_by_page_name 'contact-us' as url%}
            {% blocktranslate with site_name=current_site.site_name url=url %}
                Do not reply to this message.<br>
                If you have any questions, please <a href="{{url}}">contact us</a>.
            {% endblocktranslate %}
            <br>
            <a style="text-decoration: none; font-size: 12px; color: #646484;" href="{{current_site.root_url}}/newsletter/?email={{email}}">{% translate 'unsubscribe' %}</a>
        </td>
    </tr>
</table>