{% load i18n product %}
<style>
    .pulse {
        animation: my-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
    @keyframes my-pulse {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: .0;
        }
    }
</style>
<div id="similar-products" class="mt-12 container">
    <div class="mx-2.5">
        <h2 class="text-blue text-end text-4xl sm:text-7xl leading-none font-bold flex items-center justify-end gap-2.5">
            <span class="text-orange border-2 border-blue rounded-full py-2 px-3.5 pulse">
                <svg xmlns="http://www.w3.org/2000/svg" width="72" height="17" viewBox="0 0 72 17" fill="none">
                    <path d="M0.399789 9.41385L0.401009 9.41514L7.5218 16.5016C8.05526 17.0325 8.91811 17.0305 9.44912 16.497C9.98005 15.9635 9.97801 15.1007 9.44455 14.5697L4.66364 9.81199L69.999 9.81199C70.7517 9.81199 71.3618 9.20188 71.3618 8.44921C71.3618 7.69655 70.7517 7.08644 69.999 7.08644L4.66371 7.08643L9.44449 2.32869C9.97794 1.79775 9.97999 0.934911 9.44905 0.401451C8.91804 -0.132145 8.05513 -0.133983 7.52174 0.396818L0.400941 7.48327L0.39972 7.48456C-0.13401 8.01727 -0.132308 8.88291 0.399789 9.41385Z" fill="currentColor"/>
                </svg>
            </span>
            {{similar_products.title}}
        </h2>
        <div class="mt-12 flex flex-wrap gap-2.5 sm:gap-5" style="direction: rtl;">
            {% get_similar_products similar_products.filters similar_products.display as similar_products_list %}
            {% for similar_product in similar_products_list %}
                {% render_image_product similar_product reload_with_add_to_basket %}
            {% endfor %}
        </div>
    </div>
</div>
