{% extends 'pages/root_page.html' %}
{% load i18n static pages user widget_tweaks %}

{% block sub_page_content %}
    <div class="mt-12 grow container">
        <div class="mx-2.5">
            {% include 'blocks/user_panel_block.html' %}

            <form x-data="{edit: false}" class="mt-12" method="POST" action="{{ request.path }}">
                <div class="rounded-3xl border-2 border-blue p-5 gap-5 items-end">
                {% csrf_token %}
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-5 items-end" style="direction: rtl;">
                        <div class="text-end font-bold text-xl w-full" style="direction: ltr;">
                            <label  for="{{form.name.auto_id}}">{{form.name.label}}</label>
                            {% render_field form.name class='rounded-full border-2 border-blue text-end w-full disabled:border-0 font-normal' disabled=true %}
                            <div class="text-xs text-end text-red-500">{{ form.name.errors }}</div>
                        </div>

                        <div class="text-end font-bold text-xl w-full" style="direction: ltr;">
                            <label for="{{form.username.auto_id}}">{{form.username.label}}</label>
                            {% render_field form.username class='rounded-full border-2 border-blue text-end w-full disabled:border-0 font-normal' disabled=true %}
                            <div class="text-xs text-end text-red-500">{{ form.username.errors }}</div>
                        </div>

                        <div class="hidden md:block" style="direction: ltr;">
                            <button @click="edit=true; 
                                    document.querySelectorAll('input').forEach(function(element) {
                                        element.disabled=false;
                                        if (element.parentElement.parentElement.classList.contains('hidden')) 
                                            element.parentElement.parentElement.classList.remove('hidden');
                                });"
                                x-show="!edit"
                                type="button"
                                class="mx-auto w-fit flex gap-4 items-center rounded-full font-bold text-lg py-2 px-5 hover:bg-gradient-2 border-2 border-blue">
                                <div class="rounded-full py-0.5 px-5 bg-blue text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                                    </svg>
                                </div>
                                {% translate 'Edit' %}
                            </button>
                            <button x-show="edit"
                                type="submit"
                                class="mx-auto w-fit flex gap-4 items-center rounded-full font-bold text-lg py-2 px-5 hover:bg-gradient-2 border-2 border-blue">
                                <div class="rounded-full py-0.5 px-5 bg-blue text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                                    </svg>
                                </div>
                                {% translate 'Save' %}
                            </button>
                        </div>

                    </div>

                    <div class="mt-5 grid grid-cols-1 md:grid-cols-3 gap-5 items-end" style="direction: rtl;">
                        <div class="text-end font-bold text-xl ml-auto w-full" style="direction: ltr;">
                            <label for="{{form.email.auto_id}}">{{form.email.label}}</label>
                            {% render_field form.email class='rounded-full border-2 border-blue text-end w-full ml-auto disabled:border-0 font-normal' disabled=true %}
                            <div class="text-xs text-end text-red-500">{{ form.email.errors }}</div>
                        </div>

                        <div class="text-end font-bold text-xl ml-auto w-full hidden"  style="direction: ltr;">
                            <label for="{{form.password1.auto_id}}">
                                {% translate 'Leave blank if not changing.' %}<br>
                                {{form.password1.label}}.
                            </label>
                            <div class="relative"
                                x-data="{password: true}">
                                {% render_field form.password1 class='rounded-full border-2 border-blue text-end w-full ml-auto font-normal' %}
                                <div class="absolute left-2.5 inset-y-0 flex items-center" onclick="show_hide_password(this, '{{form.password1.auto_id}}')">
                                    <span class="sr-only">{% translate 'Show and hide password' %}</span>
                                    <div id="show">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                        </svg>
                                    </div>
                                    <div id="hide" class="hidden">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="text-xs text-end text-red-500">{{ form.password1.errors }}</div>
                        
                        </div>

                        <div class="text-end font-bold text-xl ml-auto w-full hidden" style="direction: ltr;">
                            <label for="{{form.password2.auto_id}}">{{form.password2.label}}</label>
                            <div class="relative">
                                {% render_field form.password2 class='rounded-full border-2 border-blue text-end w-full ml-auto font-normal' %}
                                <div class="absolute left-2.5 inset-y-0 flex items-center" onclick="show_hide_password(this, '{{form.password2.auto_id}}')">
                                    <span class="sr-only">{% translate 'Show and hide password' %}</span>
                                    <div id="show">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                        </svg>
                                    </div>
                                    <div id="hide" class="hidden">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="text-xs text-end text-red-500">{{ form.password2.errors }}</div>
                        </div>

                        <div class="mt-5 block md:hidden" style="direction: ltr;">
                            <button @click="edit=true; 
                                    document.querySelectorAll('input').forEach(function(element) {
                                        element.disabled=false;
                                        if (element.parentElement.parentElement.classList.contains('hidden')) 
                                            element.parentElement.parentElement.classList.remove('hidden');
                                });"
                                x-show="!edit"
                                type="button"
                                class="mx-auto w-fit flex gap-4 items-center rounded-full font-bold text-lg py-2 px-5 hover:bg-gradient-2 border-2 border-blue">
                                <div class="rounded-full py-0.5 px-5 bg-blue text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                                    </svg>
                                </div>
                                {% translate 'Edit' %}
                            </button>
                            <button x-show="edit"
                                type="submit"
                                class="mx-auto w-fit flex gap-4 items-center rounded-full font-bold text-lg py-2 px-5 hover:bg-gradient-2 border-2 border-blue">
                                <div class="rounded-full py-0.5 px-5 bg-blue text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                                    </svg>
                                </div>
                                {% translate 'Save' %}
                            </button>
                        </div>
                    </div>

                <div class="mt-5 rounded-3xl border-2 border-blue p-5 gap-5">
                    <div class="grid grid-cols-1 md:grid-cols-3 gap5 items-end">
                        <label class="text-end font-bold text-xl w-full" for="{{form.balance_replenishment_notification.auto_id}}" style="direction: ltr;">
                            {{form.balance_replenishment_notification.label}}
                            {% render_field form.balance_replenishment_notification class='rounded-full border-2 border-blue text-end font-normal' disabled=true %}
                            <div class="text-xs text-end text-red-500">{{ form.balance_replenishment_notification.errors }}</div>
                        </label>
                        <label class="text-end font-bold text-xl w-full" for="{{form.purchase_notification.auto_id}}" style="direction: ltr;">
                            {{form.purchase_notification.label}}
                            {% render_field form.purchase_notification class='rounded-full border-2 border-blue text-end font-normal' disabled=true %}
                            <div class="text-xs text-end text-red-500">{{ form.purchase_notification.errors }}</div>
                        </label>
                        <label class="text-end font-bold text-xl w-full" for="{{form.filled_cart_notification.auto_id}}" style="direction: ltr;">
                            {{form.filled_cart_notification.label}}
                            {% render_field form.filled_cart_notification class='rounded-full border-2 border-blue text-end font-normal' disabled=true %}
                            <div class="text-xs text-end text-red-500">{{ form.filled_cart_notification.errors }}</div>
                        </label>
                    </div>
                </div>
            </form>

            <div class="mt-5 rounded-3xl border-2 border-blue p-5 gap-5">
                <h2 class="text-end font-bold text-3xl py-3">
                    {% translate 'Subscription' %}
                </h2>
                {% get_user_subscriptions as user_subscriptions %}
                {% for user_subscription in user_subscriptions %}
                <div class="flex flex-col items-end">
                    <p class="font-bold text-lg pb-2.5 text-end">{{user_subscription.plan.main_text}}</p>
                    <p class="font-bold text-lg pb-2.5 text-end">{% if user_subscription.plan.unlimited %} ∞ {% else %} {{user_subscription.downloads_remaining}} / {{user_subscription.plan.download_limit}} {% endif %} {% translate 'downloads' %}</p>
                    <p class="font-bold text-lg pb-2.5 text-end">{{user_subscription.start_date}} - {{user_subscription.end_date}}</p>
                </div>
                    
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        domReady(function(event) {
            load_from_cookies();
        });
    </script>
{% endblock %}